
{% load static %}
 
<html>
    <head>
        <title>L'Animalerie</title>

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        


       
        
    </head>
    <body>
        <div class="page-header">
            <h1>L'Animalerie</a></h1>
            
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
   </body>
</html>
